



h2 {
    color: brown;
    font-family: 'Pixelify Sans', sans-serif;
    text-align:center
    text-transform capitalize;
    p {
        color: deeppink; 
    }
       
    
}
a {
    text-decoration: none;
}
div {
    background-color: blue;
    background-image: url(https://i.pinimg.com/originals/63/d1/6e/63d16e821e1a955e87bc482844b9f9f2.jpg);

    height: 600px;

    margin: 0 auto;
}









